.siteorigin-panels-builder .so-builder-toolbar > .so-tool-button.so-live-editor { display: none!important; }
.switch-on { float: left !important; font-size: 11px;}
.switch-off { color: white!important; padding-left: 8px!important; padding-right: 0px!important;  font-size: 11px; }

.wp-full-overlay-main {
    background-color: #fff;
}

.customize-control-kirki-switch .switch {
    margin-bottom: 0px!important;
}
.switch-label {
  margin-bottom: 10px!important;
}
.customize-control-kirki-switch .switch input:checked + label {
  background: #bac748!important;
}
#customize-controls img {
  border: 1px solid white !important;
}

.cmb2-id-magazin-post-gallery-images {
  padding: 0px !important;
}

.cmb2-id-magazin-video-url {
  padding: 0px !important;
}
.cmb2-id-magazin-video-url span {
  padding-bottom: 0px !important;
}
.cmb2-id-magazin-post-gallery-images .button {
  width: 100%;
  background: #8bc34a;
  border-color: #55772d;
  -webkit-box-shadow: 0 1px 0 9dce64;
  box-shadow: 0 1px 0 #9dce64;
  color: white;
}
.cmb2-id-magazin-post-gallery-images li {
  margin-bottom: 0px !important;
  margin-right: 20px !important;
}


.updated.woocommerce-message,
.rs-update-notice-wrap,
.eg-update-notice-wrap,
.post-type-page #mm_general,
.layerslider_notice,
#vc_logo,
.updated.fade,
.vc_teaser,
.ult_activate,
.update-nag{ display: none!important; }
.mt-patterns { width: 50px!important; height: 50px!important; }


/* OPTION TREE */

#option-tree-header { display: none!important; }
#option-tree-sub-header { border: none!important; background: none!important; box-shadow:none!important}
#option-tree-settings-api > .ui-tabs { border-top: 1px solid silver!important;}


/* CUSTOMIZER */

.customize-red { color:red; }

.vc_element-icon.mt_module_cost_calculator { background-image: url("../images/cost_calculator.png")!important}
.vc_element-icon.mt_module_3_columns { background-image: url("../images/3_columns.png")!important}


/* Toolbar Fix */
#wpadminbar a.ab-item, #wpadminbar>#wp-toolbar span.ab-label, #wpadminbar>#wp-toolbar span.noticon{ color: #ccc!important }
#wpadminbar a.ab-item:hover{ color: #fff!important }


#smile_icon_search{width:96%;height:136px;overflow-y:scroll;overflow-x:hidden;border:1px solid #DDD}#smile_icon_search p{margin-left:8px;margin-bottom:7px;clear:both;padding-top:7px}.icons-list.smile_icon{margin-top:-10px}.edit_form_line .search-icon{width:350px!important}.smile_icon li{float:left;width:36px;height:36px;text-align:center;display:block;box-shadow:0 0 0 1px #DDD;margin:0}.smile_icon li>i{font-size:18px;vertical-align:text-bottom;display:inline-block;line-height:36px}.smile_icon li label{display:none}.preview-icon{width:64px;height:56px;line-height:56px;font-size:40px;float:left;text-align:center;margin-top:-10px}.smile_icon li:hover i{z-index:99;zoom:1.3;font-size:18px;top:-3px;left:-3px;position:relative;width:36px;line-height:36px;height:36px;display:block;background:#4C4C4C;color:#FFF;cursor:pointer}.smile_icon li.selected{background:#0785E7;color:#FFF}input.search-icon{padding:5px 7px!important;font-size:13px;line-height:1.5em!important}

/*Admin CSS for Icon Manager*/
/*Admin Menu Icons*/
.menu-icon-services .wp-menu-image:before {
	content: "\f322";
}
.menu-icon-testimonials .wp-menu-image:before {
	content: "\f205";
}
/*Icon Manager*/
.fi_icon li {
	float: left;
	width: 36px;
	height: 36px;
	text-align: center;
	display: block;
	box-shadow: 0px 0px 0px 1px #DDD;
	margin: 0;
}
.fi_icon li > i {
	font-size: 18px;
	vertical-align: text-bottom;
	display: inline-block;
	line-height: 36px;
}
.fi_icon li label {
	display: none;
}
.preview-icon {
	display: inline-block;
	width: 48px;
	height: 48px;
	text-align: center;
	margin-right: 15px;
}
.preview-icon > i {
	font-size: 32px;
	vertical-align: text-top;
	line-height: 48px;
}
.icon_search {
	border: 1px solid #C7C7C7;
	width: 99%;
	max-height: 106px;
	height: auto;
	overflow: scroll;
	overflow-x: hidden;
	margin-bottom: -10px;
}
.icon_search > ul {
	margin: 0;
}
[class^="icon_set-"], [class*=" icon_set-"] {
	max-width: 50%;
	width: 48%;
	float: left;
	margin-right: 2%;
}
/*[class^="icon_set-"] > .postbox, [class*=" icon_set-"] > .postbox {
	min-height: 180px;
}*/
[class^="icon_set-"]:nth-child(odd), [class*=" icon_set-"]:nth-child(odd) {
	float: right;
}
[class^="icon_set-"]:nth-child(even), [class*=" icon_set-"]:nth-child(even) {
	float: left;
}
.fonts-count {
	display: inline-block;
	font-size: 1em;
	line-height: 17px;
	font-weight: 600;
	margin: 1px 0 0 2px;
	vertical-align: top;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	z-index: 26;
	background-color: #D54E21;
	color: #FFF;
	padding: 0 6px;
	margin-left: 10px;
}
.icon_font_name button {
	margin-top: -2px !important;
	float: right;
}
.icon_font_name {
	padding-bottom: 12px;
	border-bottom: 1px solid #DDD;
	margin-bottom: 10px;
}
.appearance_page_smile_icon_manager .wrap h2 {
	margin-bottom: 15px;
}
.appearance_page_smile_icon_manager .postbox {
	margin-bottom: 10px;
}
.metabox-holder.meta-search {
	max-width: 98%;
}
.search-icon {
	padding: 5px;
	vertical-align: middle;
	margin-right: 15px;
	width: 320px;
}
.postbox .search-icon {
	width: 25%;
}
.media-sidebar .setting_ {
	display: none;
}
